<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">

<dom-module id="account-transactions">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      iron-list {
        flex: 1 1 auto;
        --iron-list-items-container: {
          margin: auto;
        };
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-ajax id="irontransactions"
               handle-as="json"
               content-type="application/json"
               method="get"
               on-response="handleGetTransactionsResponse">
    </iron-ajax>

    <iron-ajax id="ironnewtransaction"
               handle-as="json"
               content-type="application/json"
               method="post"
               on-response="handleNewTransactionResponse">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-localstorage name="account-storage" value="{{selected_account}}" on-iron-localstorage-load="initStoredAccount"></iron-localstorage>
    <brum-global-variable key="accountData" value="{{selected_account}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>
    <div class="card">
      <h1>Nueva transacción:</h1>
      <hr>
        <vaadin-date-picker label="Fecha" placeholder="Fecha transaccion" value="{{formTransaction.fecha}}"></vaadin-date-picker>

        <paper-input-container>
          <label slot="input">Descripcion</label>
          <iron-input slot="input" bind-value="{{formTransaction.descripcion::input}}" auto-validate required>
            <input id="descripcion" type="text" value="{{formTransaction.descripcion::input}}" placeholder="Descripcion" >
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label slot="input">Importe</label>
          <iron-input slot="input" bind-value="{{formTransaction.importe::input}}" auto-validate required>
            <input id="importe" type="text" value="{{formTransaction.importe::input}}" placeholder="Importe" >
          </iron-input>
        </paper-input-container>

        <paper-dropdown-menu label="Tipo" no-animations="true">
          <paper-listbox slot="dropdown-content" selected="{{formTransaction.tipo}}" attr-for-selected="value">
            <paper-item value="SUELDO">SUELDO</paper-item>
            <paper-item value="GIRO">GIRO</paper-item>
            <paper-item value="OTRO">OTRO</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>

      <paper-button raised class="primary" on-tap="_NewTransaction">New transaction</paper-button>
    </div>

    <div class="card">
      <h1>Histórico transacciones:</h1>
      <vaadin-date-picker label="Fecha inicio" placeholder="Fecha inicio" value="{{formFilterTransaction.start_date}}"></vaadin-date-picker>
      <vaadin-date-picker label="Fecha fin" placeholder="Fecha fin" value="{{formFilterTransaction.end_date}}"></vaadin-date-picker>
      <paper-dropdown-menu label="Tipo" no-animations="true">
        <paper-listbox slot="dropdown-content" selected="{{formFilterTransaction.tipo}}" attr-for-selected="value">
          <paper-item value="TODOS">TODOS</paper-item>
          <paper-item value="SUELDO">SUELDO</paper-item>
          <paper-item value="GIRO">GIRO</paper-item>
          <paper-item value="OTRO">OTRO</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>
      <paper-button raised class="primary" on-tap="_FilterTransactions">Filter</paper-button>
      <hr>
      <iron-list items="[[transactions_list]]" as="item">
        <template>
          <div>
            <p><b>Id:</b> [[item.id]]</p>
            <p><b>Fecha:</b> <vaadin-date-picker readonly value="[[item.fecha]]"></vaadin-date-picker></p>
            <p><b>Descripcion:</b> [[item.descripcion]]</p>
            <p><b>Tipo:</b> [[item.tipo]]</p>
            <p><b>Importe:</b> [[item.importe]]</p>
            <hr>
          </div>
        </template>
      </iron-list>
    </div>
  </template>

  <script>
    class AccountTransactions extends Polymer.Element {
      static get is() { return 'account-transactions'; }
      static get properties() {
        return {
          storedUser: Object,
          transactions_list: Object,
          selected_account: Object,
          formTransaction: {
            type: Object,
            value:{}
          },
          formFilterTransaction: {
            type: Object,
            value:{}
          },
          message: Object
        };
      }

      handleGetTransactionsResponse(data){
        //Aca manejo respuesta
        if(data.detail.response[0] == undefined){
          this.transactions_list = null;
        }else{
          this.transactions_list = data.detail.response;
        }
      }

      initStoredAccount() {
           if (this.storedUser.authorization && this.selected_account) {
               this._GetTransactions();
           }
       }

       _FilterTransactions(){
         this.$.irontransactions.url = 'http://localhost:3000/api-uruguay/v1/users/'+
                                        this.storedUser.id+'/accounts/'+
                                        this.selected_account.id+'/transactions?'+
                                        'transaction_type='+this.formFilterTransaction.tipo +
                                        '&start_date='+this.formFilterTransaction.start_date+
                                        '&end_date='+this.formFilterTransaction.end_date;
         this.$.irontransactions.generateRequest();
       }

      _GetTransactions(){
        this.$.irontransactions.url = 'http://localhost:3000/api-uruguay/v1/users/'+
                                      this.storedUser.id+'/accounts/'+
                                      this.selected_account.id+'/transactions';
        this.$.irontransactions.generateRequest();
      }

      _NewTransaction(){
        this.$.ironnewtransaction.body = JSON.stringify(this.formTransaction);
        this.$.ironnewtransaction.url = 'http://localhost:3000/api-uruguay/v1/users/'+
                                        this.storedUser.id+'/accounts/'+
                                        this.selected_account.id+'/transactions';
        this.$.ironnewtransaction.generateRequest();
      }

      handleNewTransactionResponse(data){
        //Aca manejo respuesta
        this.message = data.detail.response.msg;
        this._GetTransactions();

        //Reseteo el formulario
        this.$.formTransaction = null;
      }


    }

    window.customElements.define(AccountTransactions.is, AccountTransactions);
  </script>
</dom-module>
