<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
          margin-top: 15px;
      }
      paper-button.link {
          color: #757575;
      }
      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }
      .alert-success {
          background: #32B232;
          border: 1px solid #0A8A0A;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-ajax id="ironlogin"
               url="http://localhost:3000/api-uruguay/v1/login"
               handle-as="json"
               content-type="application/json"
               method="post"
               on-response="handleLoginResponse">
    </iron-ajax>

    <iron-ajax id="ironregister"
               url="http://localhost:3000/api-uruguay/v1/register"
               handle-as="json"
               content-type="application/json"
               method="post"
               on-response="handleRegisterResponse">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <app-location route="{{route}}"></app-location>

    <template is="dom-if" if="[[message]]">
      <template is="dom-if" if="[[_isEqualTo(message.message_type, 'success')]]">
        <p class="alert-success">[[message.message]]</p>
      </template>
      <template is="dom-if" if="[[_isEqualTo(message.message_type, 'alert')]]">
        <p class="alert-error">[[message.message]]</p>
      </template>
    </template>
    <p><strong>Log in</strong> or <strong>sign up</strong></p>

    <div class="card">
      <h1>Log In:</h1>

      <paper-input-container>
        <label slot="input">Email</label>
        <iron-input slot="input" bind-value="{{formUser.email::input}}" auto-validate required>
          <input id="username" type="text" value="{{formUser.email::input}}" placeholder="Email" >
        </iron-input>
      </paper-input-container>

      <paper-input-container>
        <label>Password</label>
        <iron-input slot="input" bind-value="{{formUser.password::input}}" auto-validate required>
          <input id="password" type="password" value="{{formUser.password::input}}" placeholder="Password">
        </iron-input>
      </paper-input-container>

      <div class="wrapper-btns">
        <paper-button raised class="primary" on-tap="_Login">Log In</paper-button>
      </div>
    </div>

    <div class="card">
        <h1>or Register:</h1>

        <paper-input-container>
          <label slot="input">First name</label>
          <iron-input slot="input" bind-value="{{formUserRegister.firstname::input}}" auto-validate required>
            <input id="firstNameRegister" type="text" value="{{formUserRegister.firstname::input}}" placeholder="First name" >
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Last name</label>
          <iron-input slot="input" bind-value="{{formUserRegister.lastname::input}}" auto-validate required>
            <input id="lastNameRegister" type="text" value="{{formUserRegister.lastname::input}}" placeholder="Last name" >
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Email</label>
          <iron-input slot="input" bind-value="{{formUserRegister.email::input}}" auto-validate required>
            <input id="usernameRegister" type="text" value="{{formUserRegister.email::input}}" placeholder="Email" >
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label>Password</label>
          <iron-input slot="input" bind-value="{{formUserRegister.password::input}}" auto-validate required>
            <input id="passwordRegister" type="password" value="{{formUserRegister.password::input}}" placeholder="Password">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="_Register">Sign Up</paper-button>
        </div>
      </div>
    </template>

  <script>
    class RegisterLogin extends Polymer.Element {
      static get is() { return 'register-login'; }
      static get properties() {
        return {
          formUser: {
            type: Object,
            value:{}
          },
          formUserRegister: {
            type: Object,
            value:{}
          },
          storedUser: Object,
          message: Object
        };
      }

      handleLoginResponse(data){
        //Aca manejo respuesta
        //Muestro mensaje logueado o error.
        //this.message = data.detail.response.msg;
        if(data.detail.response.authorization){
          this.storedUser = {
             email: this.formUser.email,
             id: data.detail.response.id,
             authorization: data.detail.response.authorization
           };
           this.set('route.path', '/user-accounts');
        }
      }

      handleRegisterResponse(data){
        //Muestro mensaje registrado o error.
        this.message = data.detail.response.msg;
        if(data.detail.response.authorization){
          this.storedUser = {
             email: this.formUserRegister.email,
             id: data.detail.response.id,
             authorization: data.detail.response.authorization
           };
           this.set('route.path', '/user-accounts');
        }
      }

      _Login(){
        this.$.ironlogin.body = JSON.stringify(this.formUser);
        this.$.ironlogin.generateRequest();
      }

      _Register(){
        this.$.ironregister.body = JSON.stringify(this.formUserRegister);
        this.$.ironregister.generateRequest();
      }

      _isEqualTo(field, string){
        return field == string;
      }
    }

    window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
