<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">

<dom-module id="user-accounts">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      iron-list {
        flex: 1 1 auto;
        --iron-list-items-container: {
          margin: auto;
        };
      }
    </style>

    <iron-ajax id="ironcurrency"
               url="http://localhost:3000/api-uruguay/v1/currency"
               handle-as="json"
               content-type="application/json"
               method="get"
               on-response="handleCurrencyResponse">
    </iron-ajax>

    <iron-ajax id="ironaccounts"
               handle-as="json"
               content-type="application/json"
               method="get"
               on-response="handleGetAccountsResponse">
    </iron-ajax>

    <iron-localstorage name="account-storage" value="{{selected_account}}"></iron-localstorage>
    <brum-global-variable key="accountData" value="{{selected_account}}"></brum-global-variable>

    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <h1>Cotizacion Dolar/Pesos Uruguayos</h1>
      <p>Dolar: <b>[[usd_uyu]]</b></p>
    </div>
    <div class="card">
      <h1>Cuentas:</h1>
      <iron-list items="[[accounts_list]]" as="item">
        <template>
          <div>
            <p><b>Id:</b> [[item.id]]</p>
            <p><b>IBAN</b> [[item.IBAN]]</p>
            <p><b>Balance:</b> [[item.balance]]</p>
            <paper-button raised class="primary" on-tap="_Transactions" data-account$="[[item.id]]" >View transactions</paper-button>
            <hr>
          </div>
        </template>
      </iron-list>
    </div>
  </template>

  <script>
    class UserAccounts extends Polymer.Element {
      static get is() { return 'user-accounts'; }
      static get properties() {
        return {
          usd_uyu: Object,
          storedUser: Object,
          accounts_list: Object,
          selected_account: Object,
        };
      }

      handleCurrencyResponse(data){
        //Aca manejo respuesta
        this.usd_uyu = data.detail.response.USD_UYU
      }

      handleGetAccountsResponse(data){
        //Aca manejo respuesta
        this.accounts_list = data.detail.response
      }

      initStoredUser() {
           if (this.storedUser.authorization) {
               this._GetCurrency();
               this._GetAccounts();
           }
       }

      _GetCurrency(){
        this.$.ironcurrency.generateRequest();
      }

      _GetAccounts(){
        this.$.ironaccounts.url = 'http://localhost:3000/api-uruguay/v1/users/'+this.storedUser.id+'/accounts';
        this.$.ironaccounts.generateRequest();
      }

      _Transactions(e){
        const account_id = e.target.dataset.account;
        this.selected_account = {
           id: account_id
         };
        this.set('route.path', '/account-transactions');
      }

    }

    window.customElements.define(UserAccounts.is, UserAccounts);
  </script>
</dom-module>
